$primary-dark: #797a79;
$primary-darker: #555;
$primary-pink: #fc6b6d;
$primary-border: 1px solid $primary-dark;

$primary-font-family: 'Ubuntu', sans-serif;
$secondary-font-family: 'Roboto', sans-serif;