$primary-dark: #505050;
$primary-darker: #353535;
$primary-pink: #fc6b6d;

$primary-border: 1px solid $primary-dark;
$secondary-border: 1px solid #c5c5c5;

$primary-font-family: 'Ubuntu', sans-serif;
$secondary-font-family: 'Roboto', sans-serif;