@import "./variables";

* {
    box-sizing: border-box;
}

html {
    font-family: $primary-font-family;
}

.ellipse {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: .7rem 1.3rem;
    background: linear-gradient(120deg, #582c7e, #6275cb);
    border-radius: 20px;
    box-shadow: 0 7px 20px #8796c7;
    transition: all .2s ease-in-out;

    &:hover {
        box-shadow: 0 7px 20px #8796c7, 0 4px 12px #582c7e;
    }

    &__text {
        font-weight: bold;
        color: #fff;
        font-size: .9rem;
    }
}

.header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 16rem;
    margin-bottom: -24px;
    position: relative;
    background-image: linear-gradient(#fff 40%, transparent), url('../../assets/images/header-background.png');
    background-repeat: no-repeat;
    background-position: center 33%;
    background-size: 100% auto;

    &__top {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        max-width: 1430px;
        width: 100%;
        padding-top: 4.7rem;
        margin: 0 1rem;
    }

    &__h1 {
        width: 100%;
        text-align: center;
        font-size: 3.7rem;
        font-weight: bold;
        color: $primary-dark;
        margin-top: 10.3rem;
    }
    
    &__location-text {
        width: 100%;
        text-align: center;
        font-size: 2.2rem;
        color: $primary-dark;
        padding: 1rem;
        margin-bottom: 4rem;
    }

    &__location {
        color: $primary-pink;
    }

    &__account {
        padding: 1.2rem 3.8rem;
        border-radius: 30px;
    }
    
    &__account-text {
        font-size: 1.1rem;
    }

    &__app-download {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        padding: 0;
    }
    
    &__download-icon {
        font-size: 1.2rem;
        font-weight: normal;
    }

    &__ellipse {
        margin-right: 1rem;
        background: linear-gradient(to right, #636b92, #5f2f6a);
    }

    &__socials {
        display: flex;
        flex-flow: column nowrap;
        position: absolute;
        right: 34px;
        top: 40%;
    }

    &__socials-link {
        font-size: 1.3rem;
        width: 20px;
        height: 20px;
        color: #5e5e5e;
        margin-bottom: 16px;
        transition: all .2s ease-in-out;

        &:hover {
            color: $primary-pink;
        }
    }
}

.title-container {

    &__title {
        font-size: 1.9rem;
        font-weight: bold;
        color: #858688;

        &--bright {
            color: #5b4295;
        }
    }

    &__lang-list {
        display: flex;
        padding-top: 1.4rem;
    }

    &__lang-item {
        margin-right: 1.2rem;
        position: relative;
        border-bottom: 1px solid transparent;
        transition: all .2s ease-in-out;

        &::after {
            color: #959595;
            content: '/';
            position: absolute;
            right: -0.8rem;
            top: 0;
            font-weight: normal;
        }
        
        &:hover {
            border-bottom-color: #bfc5d4;
        }

        &--active {
            font-weight: bold;
            padding-bottom: .2rem;
            border-bottom-color: #bfc5d4;
        }

        &--last {
            &::after {
                content: none;
            }
        }
    }
    
    &__lang {
        color: #959595;
        padding-bottom: .2rem;
    }
}

.header-menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    
    &__item {
        padding: .7rem;
        position: relative;
        color: #5e5e5e;
        
        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 0%;
            height: 2px;
            bottom: 0;
            left: 50%;
            background-color: #5e5e5e;
            transition: all .2s ease-in-out;
        }

        &:hover::before {
            left: 0;
            width: 100%;
        }
    }
}

.registration {
    padding-right: 2.2rem;

    &__login {
        padding: .7rem;
        margin: 0 .4rem 0 3.7rem;

        &:hover {
            & .registration__login-icon {
                transform: translateX(4px);
            }
            
            & .registration__login-text {
                color: #582c7e;
            } 
        }
    }
    
    &__login-icon {
        color: #582c7e;
        margin-right: 4px;
        transition: all .2s ease-in-out;
    }
    
    &__login-text {
        color: #454545;
        font-weight: bold;
        font-size: .9rem;
        transition: all .2s ease-in-out;
    }
}

.main {

    &__h2 {
        font-size: 3.7rem;
        color: $primary-darker;
    }

    &__h3 {
        color: $primary-darker;
        font-size: 2rem;
    }

    &__paragraph {
        color: $primary-dark;
        line-height: 1.5;
        font-size: .9rem;
    }
}

.features {
    display: grid;
    grid-template-columns: 11fr repeat(3, 25%) 9fr;
    grid-template-areas: 
        '. one two last right' 
        'main main main . .';
    padding-top: 8rem;

    &::before {
        content: '';
        grid-area: right;
        border-top: $primary-border;
    }

    &__feature {
        padding: 0 2.7rem 8rem 2.7rem;
        background-repeat: no-repeat;
        
        &--first {
            position: relative;
            background-size: 58px auto;
            background-position: 38px 0;
            background-image: url('../../assets/images/feature-icon-one.png');
            grid-area: one;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                height: 210px;
                right: 0;
                top: -132px;
                border-right: $primary-border;
            }
        }

        &--second {
            background-image: url('../../assets/images/feature-icon-two.png');
            background-size: 90px auto;
            background-position: .8rem -1rem;
            grid-area: two;
            border-right: $primary-border;
        }
        
        &--last {
            background-position: 1.3rem -0.3rem;
            background-size: 70px auto;
            background-image: url('../../assets/images/feature-icon-three.png');
            grid-area: last;
        }
    }

    &__main-feature {
        grid-area: main;
        text-align: right;
        padding-right: 3rem;
        position: relative;
        border: $primary-border;
        border-left: none;
        border-top: none;
    }

    &__main-feature-title {
        display: block;
        color: $primary-dark;
        font-size: 1.4rem;
        padding: 1rem 0 3rem 0;

        &--bright {
            color: $primary-pink;
        }
    }

    &__main-feature-link {
        display: block;
        position: absolute;
        background-color: #fff;
        padding: 1.4rem;
        border: $primary-border;
        right: 0;
        bottom: 0;
        transform: translate(50%, 50%);
        border-radius: 50px;
        color: $primary-dark;
        overflow: hidden;
        transition: color .2s ease-in-out;
        
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 0;
            background: $primary-dark;
            transition: all .2s ease-in-out;
        }

        &:hover {
            color: #fff;

            &::before {
                height: 100%;
            }
        }
    }

    &__main-feature-link-text {
        position: relative;
    }

    &__feature-icon {
        display: inline-block;
        width: 80px;
        height: 74px;
        background: yellow;
    }

    &__h3 {
        padding-left: 58px;
    }

    &__title {
        display: block;
        color: $primary-dark;
        padding: .3rem 0 0 58px;
        margin-bottom: 2rem;
    }
}

.partners {
    padding: 4.3rem 0 2rem 0;
}

.phone-download {
    display: grid;
    grid-template-columns: 19% 30.8% 1fr;
    grid-template-areas: 
        '. b .'
        '. c c';
    position: relative;
    padding: 1.8rem 0 0 40px;
    
    &__quote {
        grid-area: b;
        position: relative;
        font-size: 1.4rem;
        line-height: 1.3;
        font-family: 'Cantarell', sans-serif;
        color: #000;

        &::before {
            content: '';
            position: absolute;
            width: 13px;
            height: 13px;
            top: 3px;
            left: -38px;
            border-radius: 50%;
            background: #000;
            box-shadow: 0 24px 0 -1px #b7b7b7, 0 47px 0 -1px #b7b7b7;
        }
    }

    &__quote-author {
        display: block;
        font-size: 1rem;
        font-family: $primary-font-family;
        color: $primary-dark;
        padding: .7rem 0 0 .8rem;
        font-style: italic;
    }

    &__article {
        text-align: right;
        position: relative;
        width: 430px;
        margin: 7.4rem 0 0 17rem;
    }

    &__img {
        position: absolute;
        top: 2%;
        right: 15.5%;
    }

    &__container {
        grid-area: c;
        border-bottom: $primary-border;
        padding-bottom: 10rem;
    }

    &__link-img {

        &--google {
            margin-left: .5rem;
        }
    }

    &__h3 {
        margin-bottom: 1.7rem;
    }

    &__paragraph {
        margin-bottom: 1.7rem;
    }

    // TODO: add the gradient

}